html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  /* MTA tan map background */
  background-color: #F3EBD4;
  position: relative;
  margin-left: 0;
  max-width: 640px;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3em;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#chart {
  position: relative;
}

